.container {
  background: rgb(255, 255, 255);
  border-radius: 0 8px 8px 0;
  margin: 30px 0 60px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;

  .title {
	color: #0d1767;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	margin-bottom: 30px;
	padding: 0 0 30px;
	position: relative;

	&::before {
	  background: linear-gradient(to right, rgba(76, 85, 119, 0.4) 0%, rgba(76, 119, 83, .01) 100%);
	  border-radius: 6px 0 0 6px;
	  content: "";
	  height: 30px;
	  left: -10px;
	  position: absolute;
	  top: 0;
	  width: 60px;
	}

	&::after {
	  background: radial-gradient(ellipse at left, #ddd 0%, rgba(255, 255, 255, 0) 70%);
	  bottom: 0;
	  content: "";
	  height: 1px;
	  left: -20px;
	  position: absolute;
	  right: 0;
	}
  }

  .innerText {
	color: #0d1767;
	font-size: 20px;
	position: relative;
  }

  .forIframe {
	border: 1px solid #0d1767;
	border-radius: 5px;
	height: fit-content;
	margin: 10px auto;
	position: relative;
	width: fit-content;

	iframe {
	  border-radius: 5px;
	  margin: 0;
	}
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  padding-top: 20px;

  input {
	border: 1px solid #0d1767;
	border-radius: 3px;
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 5px;
  }

  textarea {
	border: 1px solid #0d1767;
	border-radius: 3px;
	margin-bottom: 15px;
	margin-top: 5px;
	max-height: 100px;
	max-width: 600px;
	min-width: 300px;
	overflow: scroll;
	padding: 5px;
	resize: none;
  }

  button {
	animation: shading 4s infinite;
	background-color: #0d1767;
	border: 1px solid #4254da;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	padding: 5px;
  }
}

@keyframes shading {
  0% {
	box-shadow: 0 0 3px navy;
  }
  50% {
	box-shadow: 0 0 15px #42a5da;
  }
  100% {
	box-shadow: 0 0 3px navy;
  }
}
