.container {
  background: rgb(255, 255, 255);
  border-radius: 0 8px 8px 0;
  margin: 30px 0 60px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;

  .title {
	color: #0d1767;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	margin-bottom: 30px;
	padding: 0 0 30px;
	position: relative;

	&::before {
	  background: linear-gradient(to right, rgba(76, 85, 119, 0.4) 0%, rgba(76, 119, 83, .01) 100%);
	  border-radius: 6px 0 0 6px;
	  content: "";
	  height: 30px;
	  left: -10px;
	  position: absolute;
	  top: 0;
	  width: 60px;
	}

	&::after {
	  background: radial-gradient(ellipse at left, #ddd 0%, rgba(255, 255, 255, 0) 70%);
	  bottom: 0;
	  content: "";
	  height: 1px;
	  left: -20px;
	  position: absolute;
	  right: 0;
	}
  }

  .innerText {
	color: #0d1767;
	font-size: 20px;
	position: relative;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  padding-top: 20px;

  input {
	margin-bottom: 15px;
	margin-top: 5px;
  }

  textarea {
	max-height: 100px;
	max-width: 600px;
	min-width: 500px;
	overflow: scroll;
  }
}
