.cardContainer {
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 480px;
  z-index: 11;

  @media (max-width: 1120px) {
	margin-top: 40px;
	width: inherit;
  }

  .descriptionContainer {
	background-color: white;
	border-radius: 0 0 10px 10px;
	position: relative;
	z-index: 11;
  }

  &::after {
	background: linear-gradient(-45deg, rgba(76, 83, 119, 0.4) 0%, rgba(76, 86, 119, 0.01) 100%);
	border-radius: 8px;
	content: "";
	height: 100%;
	left: -15px;
	position: absolute;
	top: -15px;
	width: 100%;
	z-index: 10;
  }

  &::before {
	border-radius: 8px;
	box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
  }

  .photoContainer {
	//background-color: white;
	border-radius: 8px 8px 0 0;
	height: 335px;
	overflow: hidden;
	position: relative;
	width: inherit;
	z-index: 11;

	&::before {
	  background: #fff;
	  bottom: -63%;
	  content: "";
	  height: 70%;
	  left: -25%;
	  position: absolute;
	  transform: rotate(12deg);
	  width: 100%;
	}

	&::after {
	  background: #fff;
	  bottom: -63%;
	  content: "";
	  height: 70%;
	  left: auto;
	  position: absolute;
	  right: -25%;
	  transform: rotate(-8deg);
	  width: 100%;
	}

	img {
	  border-radius: 8px 8px 0 0;
	  height: 100%;
	  object-fit: cover;
	  width: 100%;
	}


	@media (min-width: 1120px) {
	  height: 55%;
	}

  }

  .name {
	//background-color: white;
	color: #323232;
	font-size: 34px;
	font-weight: 500;
	line-height: 32px;
	padding-top: 50px;
	text-align: center;
	z-index: 11;
  }

  .animatedText {
	//background-color: white;
	color: #323232;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	padding: 20px 0;
	text-align: center;
	z-index: 11;
  }

  .contactsContainer {
	//background-color: white;
	padding-top: 45px;
	text-align: center;
	z-index: 11;

	a {
	  color: #0d1767;
	  font-size: 20px;
	  padding: 0 4px;
	  transition: 0.3s;

	  &:hover {
		color: #4254da;
		transition: 0.3s;
	  }
	}
  }

  .downloadCV {
	//background: white;
	border-radius: 0 0 8px 8px;
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 15px;
	z-index: 11;

	a {
	  align-items: center;
	  color: #0d1767;
	  display: flex;
	  font-size: 20px;
	  padding: 0 4px;
	  text-decoration: none;

	  span {
		padding: 5px;
	  }
	}
  }
}
