@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", serif;

  &::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
	position: relative;
	background-color: rgba(2, 6, 38, 0.5);
	border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
	background-color: transparent;
	display: none;
  }

}


.animeContainer{
  //height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden ;
  margin-top: -8vh;
  padding-top: 8vh;
}
.fade-enter {
  opacity: 0;
  transform: translateY(200px);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 500ms ease-out, transform 500ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateY(-200px);

  transition: opacity 500ms ease-out, transform 500ms ease;
}

/*main container*/
.container {
  margin: 11vh auto;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  //background-color: rgba(47, 144, 255, 0.31);
  display: flex;
}

@media (max-width: 1300px) {
  .container {
	margin: 11vh 3vw;
	height: 90vh;
  }
}

@media (max-height: 740px) {
  .container {
	margin-top: 6vh;
	margin-bottom: 6vh;
	height: 88vh;
  }
}

@media (max-height: 700px) {
  .container {
	margin-top: 3vh;
	margin-bottom: 3vh;
	height: 94vh;
  }
}
